{% extends "layout/layout.html" %}

{% block title %}
    دسته بندی ها
{% endblock %}

{% block script %}
    <script src="{{ asset.url_for('category.js') }}"></script>
{% endblock %}

{% block header %}
{% include 'layout/header.html' %}
{% endblock %}

{% block footer %}
{% include 'layout/footer.html' %}
{% endblock %}

{% block content %}
<div class="m-2 row d-flex justify-content-between">
    <div class="col-12 col-md-2 align-self-start px-0 px-sm-1 shadow rounded-4">
        <ul class="list-group border-0 p-3">
            {% import 'macro/category_child_render.html' as macros %}
            {% for category, children in categories_list.items() %}
                <li class="list-group-item border-0 p-0">
                    <a href="{{ url_for('category', category_id=category) }}" class="btn p-1 my-1">
                        <p class="h5 m-0">
                            {{ categories_data[category]['name'] }}
                        </p>
                    </a>
                    {% if children %}
                        {{ macros.render_children(children, categories_data) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md-10 d-flex row rounded-1 border ">
        {% for product in category_products %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center p-3">
                <a href="{{ url_for('product', product_id=product['id']) }}" class="card col-8 col-sm-6 col-md-9 col-lg-12 border-1 shadow rounded-4 pb-0 text-decoration-none">
                    <img src="{{ asset.url_for(product['image']) }}" class="m-4" alt="...">
                    <div class="card-body">
                        <div class="h-25 m-1">
                            <p class="card-title fw-bold">{{ product['name'] }}</p>
                        </div><hr>
                        <div class="mt-3">
                            {% if product['discount'] %}
                                <div dir="ltr" class="d-flex align-items-center">
                                        <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">{{ product['discount'] }}%</p>
                                    <p class="my-0 text-decoration-line-through price">{{ product['price'] }}</p>
                                </div>
                            {% endif %}
                            <div dir="ltr" class="d-flex align-items-center">
                                <p class="price fw-bold m-1">{{ product['final_price'] }}</p>
                                <p class="h5 fw-bold m-1">: قیمت</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}