{% extends 'layout/panel_crud.html' %}

{% block title %}
    ویرایش رمز عبور
{% endblock %}

{% block form_action %}
    {{ url_for('admin_user_password_update', id=user_id) }}
{% endblock %}

{% block form %}
    <input type="hidden" name="_method" value="PUT">
    {{ render_field(form.old_password) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
{% endblock %}

{% block btn %}
    تغییر
{% endblock %}

{% block backward_url %}
{{ url_for('admin_user_edit', id=user_id) }}
{% endblock %}
