{% extends "layout/profile.html" %}

{% block title %}
    سفارش ها
{% endblock %}

{% block profile_content %}
    <div class="p-4 rounded-4 shadow">
        <div class="d-flex justify-content-between">
            <p class="h4">
                سفارش های من
            </p>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-secondary" scope="col">شماره سفارش</th>
                    <th class="text-secondary" scope="col">محصولات</th>
                    <th class="text-secondary" scope="col">تاریخ</th>
                    <th class="text-secondary" scope="col">وضعیت</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <th>{{ order.id }}</th>
                    <td>
                        <div>
                            {% for item in order.items %}
                            <p class="shadow m-1 p-1 rounded-3">{{ item.product.name }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <div class="d-flex justify-content-center rounded-3 border border-success-subtle">
                            {% if order.payment[0].transactions[-1].status == 'successful' %}
                                <p class="h5 m-0 p-1 rounded-3 text-success">موفق</p>
                            {% else %}
                                <p class="h5 m-0 p-1 rounded-3 text-danger">لغو شده</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}