{% macro render_children(children, categories_data) %}
    <ul class="list-group border-0 px-3">
        {% for child, subchildren in children.items() %}
            <li class="list-group-item border-0 p-0">
                <a href="{{ url_for('category', category_id=child) }}" class="btn p-1 my-1">
                    <p class="h5 m-0">
                        {{ categories_data[child]['name'] }}
                    </p>
                </a>
                {% if subchildren %}
                    {% call render_children(subchildren, categories_data) %}
                    {% endcall %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}