{% extends "layout.html" %}
{% block title %}
Coffee Shop
{% endblock %}
{% block script %}
<script src="{{ asset.url_for('successful_payment.js') }}"></script>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center mt-5 pt-5">
    <div class="payment_success_box w-50 mt-5 text-center p-5">
        <i class="fa-solid fa-money-check-dollar fa-10x" style="color: #e8c79c;"></i>
        <h1 class="my-4">پرداخت با موفقیت انجام شد.</h1>
        <h4>
            شماره سفارش شما Beh-۲۸۳۸۲۰ می‌باشد
        </h4>
    </div>
</div>
<div class="mx-5 mt-5 px-5">
    <div class="navbar border-bottom pb-0">
        <p class="topic h3 pb-3 mb-0">فروش ویژه</p>
    </div>
    <div>
        <div id="carouselExampleIndicators2" class="carousel slide d-flex" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="navbar navbar-collapse justify-content-center">
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="navbar navbar-collapse justify-content-center">
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a class="next-btn nav-link rounded-circle p-2" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                    <i class="fa fa-arrow-left fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}