<footer class="my-5">
    <div class="d-lg-flex justify-content-around">
        <div class="d-flex align-items-center justify-content-center my-3">
            <i class="footer_icons fa-solid fa-truck-fast fa-3x"></i>
            <p class="h5 my-0 mx-2">
                تحویل اکسپرس به سراسر کشور
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-center my-3">
            <i class="footer_icons fa-solid fa-store fa-3x"></i>
            <p class="h5 my-0 mx-2">
                همه روزه از ساعت ۱۱ الی ۲۱
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-center my-3">
            <i class="footer_icons fa-solid fa-money-check-dollar fa-3x"></i>
            <p class="h5 my-0 mx-2">
                تضمین بهترین قیمت
            </p>
        </div>
    </div>
    <div class="footer_line container-lg"></div>
    <div class="fluid-container d-md-flex p-4 pb-0">
                <div class="col-md-4 d-flex justify-content-md-center px-3 mt-3">
                    <div>
                    <p class="mb-4 h6">
                        نشانی: تهران
                    </p>
                    <div class="mt-5">
                        <p class="h6">شماره تماس:</p>
                        <div dir="rtl">
                            <P class="h5 ">۰۹۱۰۱۱۲۲۳۳۴</P>
                            <P class="h5 ">۰۲۱-۱۱۲۲۳۳۴۴</P>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-md-center px-3 mt-3">
                    <div>
                        <h5 class="mb-3 font-weight-bold text-right">دسترسی سریع</h5>
                        <p class="m-0"><a href="#" class="text-decoration-none text-dark">قهوه‌ساز</a></p>
                        <p class="m-0"><a href="#" class="text-decoration-none text-dark">دانه قهوه</a></p>
                        <p class="m-0"><a href="#" class="text-decoration-none text-dark">قهوه‌های برند</a></p>
                        <p class="m-0"><a href="#" class="text-decoration-none text-dark">قهوه‌های مخصوص کافه ۲۹</a></p>
                        <p class="m-0"><a href="#" class="text-decoration-none text-dark">شکلات</a></p>
                        <p class="m-0"><a href="#" class="text-decoration-none text-dark">تماس با ما</a></p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center px-3 mt-3">
                    <div>
                        <a class="d-flex align-items-center text-decoration-none text-black" href="#">
                            <img src="{{ asset.url_for('logo.png') }}">
                            <p class="h5 my-0 mx-2">
                                فروشگاه قهوه بهنام کافه
                            </p>
                        </a>
                        <div>
                            <a class="social_icon d-inline-flex align-items-center justify-content-center btn btn-floating m-1" href="#" role="button">
                                <i class="fab fa-youtube fa-xl"></i>
                            </a>
                            <a class="social_icon d-inline-flex align-items-center justify-content-center btn btn-floating m-1" href="#" role="button">
                                <i class="fab fa-instagram fa-xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
    </div>
  </footer>