<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.tiny.cloud/1/{{ tinymce_key }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false
        });
    </script>
</head>
<body>
<div class="d-flex align-items-center justify-content-center">
    <form action="{% block form_action %}{% endblock %}" enctype="multipart/form-data" method="post" class="m-5 shadow p-5 rounded-4">
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="p-4 rounded-4 shadow mb-2">
                    <h6 class="text-success">
                        {{message}}
                    </h6>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="p-4 rounded-4 shadow mb-2">
                    <h6 class="text-danger">
                        {{message}}
                    </h6>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% from "macro/crud_form.html" import render_field %}
    {{ form.csrf_token }}
    {% block form %}{% endblock %}
        <div class="d-flex justify-content-around p-3">
            <button type="submit" class="btn bg-success p-2 shadow text-white">{% block btn %}{% endblock %}</button>
            <a href="{% block backward_url %}{% endblock %}" class="btn bg-danger p-2 shadow text-white">
                بازگشت
            </a>
        </div>
    </form>
</div>

<script src="{{ asset.url_for('panel.js') }}"></script>
</body>
</html>