<div class="px-0">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center px-3" id="menu">
        <li class="nav-item">
            <a href="{{ url_for('home') }}" class="nav-link d-flex align-items-center justify-content-center w-100  py-2">
                <i class="fa-solid fa-house fa-lg text-dark"></i>
                <p class="my-0 mx-2 pt-1 text-dark">صفحه اصلی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('category_all') }}" class="nav-link d-flex align-items-center justify-content-center w-100  py-2">
                <i class="fa-solid fa-list fa-lg text-dark"></i>
                <p class="my-0 mx-2 pt-1 text-dark">دسته‌بندی ها</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('user_profile') }}" class="nav-link d-flex align-items-center justify-content-center w-100  py-2">
                <i class="fa-solid fa-id-card fa-lg text-dark"></i>
                <p class="my-0 mx-2 pt-1 text-dark">پروفایل</p>
            </a>
        </li>
    </ul>
</div>