{% extends 'layout/panel.html' %}
{% block content %}
<div class="p-4 rounded-4 shadow">
                <div class="navbar navbar-expand-lg d-flex justify-content-between">
                    <p class="h4 my-0">
                        محصولات
                    </p>
                    <a href="{{ url_for('product_create') }}" class="d-flex align-items-center text-decoration-none" style="color: #CBB270;">
                        <i class="fa-solid fa-plus fa-xl"></i><p class="h4 mx-2 my-0">افزودن محصول</p>
                    </a>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-secondary" scope="col">نام محصول:</th>
                            <th class="text-secondary" scope="col">دسته بندی:</th>
                            <th class="text-secondary" scope="col">قیمت:</th>
                            <th class="text-secondary" scope="col">تعداد:</th>
                            <th class="text-secondary" scope="col">تخفیف:</th>
                            <th class="text-secondary" scope="col">زمان تخفیف:</th>
                            <th class="text-secondary" scope="col">ویرایش:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in data %}
                        <tr>
                            <td class="align-middle">{{ data[product]['name'] }}</td>
                            <td class="align-middle">
                                {% for category in data[product]['category'] %}
                                {% if data[product]['category'][data[product]['category'].index(category)] %}
                                    <p class="d-inline">{{ category }},</p>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="align-middle">{{ data[product]['price'] }}</td>
                            <td class="align-middle">{{ data[product]['quantity'] }}</td>
                            <td class="align-middle">
                                {% if data[product]['discount'] %}
                                    {{ data[product]['discount'] }}
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if data[product]['discount_date'] %}
                                    {{ data[product]['discount_date'] }}
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                <a href="{{ url_for('product_delete', product_id=product) }}" class="btn p-1 shadow">
                                    <i class="fa-regular fa-trash-can fa-lg"></i>
                                </a>
                                <a href="{{ url_for('product_edit', product_id=product) }}" class="btn p-1 shadow">
                                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}