{% extends "layout.html" %}
{% block title %}
Coffee Shop
{% endblock %}
{% block script %}
<script src="{{ asset.url_for('card.js') }}"></script>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center mt-5 pt-5">
    <div class="card_empty_box w-50 mt-5 text-center p-5">
        <i class="fa-solid fa-cart-plus fa-10x" style="color: #e8c79c;"></i>
        <h5 class="my-4">سبد خریدت خالیه هنوز</h5>
        <p>
            از <a href="#" class="text-decoration-none" style="color: #E8C79C;">اینجا</a> می‌تونی وارد صفحه اصلی فروشگاه بشی و دنبال چیزی که می‌خوای بگردی!
        </p>
    </div>
</div>
<div class="mx-5 mt-5 px-5">
    <div class="navbar border-bottom pb-0">
        <p class="topic h3 pb-3 mb-0">فروش ویژه</p>
    </div>
    <div>
        <div id="carouselExampleIndicators2" class="carousel slide d-flex" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="navbar navbar-collapse justify-content-center">
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="navbar navbar-collapse justify-content-center">
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                        <div class="card m-3 pb-0" style="width: 240px;">
                            <img src="{{ asset.url_for('12.png') }}" class="m-4" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">اسپرسوساز نسپرسو مدل لاتیسما تاچ EN۵۶۰</h6>
                                <br>
                                <div dir="ltr" class="d-flex align-items-center">
                                    <p class="bg-danger rounded-5 p-2 me-2 mb-0 text-white">10%</p>
                                    <p class="my-0">19,000,000</p>
                                </div>
                                <p dir="ltr" class="ms-2 mb-0 text-decoration-line-through">22,000,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a class="next-btn nav-link rounded-circle p-2" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                    <i class="fa fa-arrow-left fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-expand-xl d-flex justify-content-center align-items-start mx-5 mt-5 pt-5">
    <div class="col-xl-8 mx-5">
        <div class="card_item navbar navbar-expand-xl d-flex rounded-5 mb-3">
            <div class="col-lg-2 mx-5 my-2 p-2">
                <img src="{{ asset.url_for('product.png') }}" alt="" style="width: 100%">
            </div>
            <div class="col py-4">
                <h5>آسیاب قهوه بوش مدل TSM۶A۰۱۳B رنگ مشکی</h5>
                <p class="mt-4">
                    <i class="fa-solid fa-motorcycle mx-2"></i>آماده ارسال
                </p>
                <div dir="ltr" class="navbar navbar-expand-xl d-flex mx-4 mt-5">
                    <div class="d-flex my-3">
                        <a href="#" class="align-self-center">
                            <i class="fa-regular fa-trash-can fa-xl text-black"></i>
                        </a>
                        <div class="border border-1 rounded-4 ms-4 d-flex align-items-center px-3">
                            <a href="#">
                                <i class="fa-solid fa-circle-plus fa-xl text-black"></i>
                            </a>
                            <p class="h3 mx-3 mb-0">۱</p>
                            <a href="#">
                                <i class="fa-solid fa-circle-minus fa-xl text-black"></i>
                            </a>
                        </div>
                    </div>
                    <p class="h4 align-self-center my-3 px-3 border-end">۱۶۵،۰۰۰ تومان</p>
                    <p class="h4 align-self-center my-3 px-3 text-secondary">سود شما از این خرید : ۶۰،۰۰۰ تومان</p>
                </div>
            </div>
        </div>
        <div class="card_item navbar navbar-expand-xl d-flex rounded-5 mb-3">
            <div class="col-lg-2 mx-5 my-2 p-2">
                <img src="{{ asset.url_for('product.png') }}" alt="" style="width: 100%">
            </div>
            <div class="col py-4">
                <h5>آسیاب قهوه بوش مدل TSM۶A۰۱۳B رنگ مشکی</h5>
                <p class="mt-4">
                    <i class="fa-solid fa-motorcycle mx-2"></i>آماده ارسال
                </p>
                <div dir="ltr" class="navbar navbar-expand-xl d-flex mx-4 mt-5">
                    <div class="d-flex my-3">
                        <a href="#" class="align-self-center">
                            <i class="fa-regular fa-trash-can fa-xl text-black"></i>
                        </a>
                        <div class="border border-1 rounded-4 ms-4 d-flex align-items-center px-3">
                            <a href="#">
                                <i class="fa-solid fa-circle-plus fa-xl text-black"></i>
                            </a>
                            <p class="h3 mx-3 mb-0">۱</p>
                            <a href="#">
                                <i class="fa-solid fa-circle-minus fa-xl text-black"></i>
                            </a>
                        </div>
                    </div>
                    <p class="h4 align-self-center my-3 px-3 border-end">۱۶۵،۰۰۰ تومان</p>
                    <p class="h4 align-self-center my-3 px-3 text-secondary">سود شما از این خرید : ۶۰،۰۰۰ تومان</p>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-box col-xl-3 align-self-start rounded-4 px-3">
        <div class="d-flex justify-content-between align-items-center mt-3 pb-5">
            <h5>
                سبد خرید شما از بهنام کافه
            </h5>
            <i class="fa-solid fa-cart-arrow-down fa-5x" style="color: #BC9020;"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h5>
                جمع مبلغ کالاها
            </h5>
            <h5>
                ۲۵۳٬۰۰۰ تومان
            </h5>
        </div>
        <div class="d-flex justify-content-between align-items-center text-danger my-3">
            <h5>
                سود شما از این سبد
            </h5>
            <h5>
                ۵۳٬۰۰۰ تومان
            </h5>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h5>
                جمع سبد خرید
            </h5>
            <h5>
                ۲۰۰٬۰۰۰ تومان
            </h5>
        </div>
        <p>هزینه ارسال مرسوله‌ها برعهده مشتری است و هنگام دریافت محصول باید پرداخت شود.</p>
        <a class="shipment_link d-flex justify-content-center text-decoration-none m-3 rounded-3 py-4">
            <p class="h5 m-0 text-black">
                انتخاب زمان ارسال
            </p>
        </a>
    </div>
</div>
{% endblock %}