<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_test.css') }}">
</head>
<body>
<header class="container-fluid">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light mx-5 bg-white">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="{{ asset.url_for('logo.png') }}">
            <p class="h5 my-0 mx-2">
                فروشگاه قهوه بهنام کافه
            </p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col py-3">
                    <!-- toggler -->
                        <button class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                            <i class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                        </button>
                    </div>
                </div>
            </div>
        </a>
    </nav>
    <div class="mx-5">
        <nav dir="ltr" class="navbar navbar-expand-lg bottom_navbar rounded-3 mx-5">
            <div  class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active card_button rounded-2 mx-2 my-1 py-1">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100 px-3 py-2" href="#">
                        <p class="my-0 mx-1 px-1 text-white card_counter">۰</p>
                        <p class="my-0 mx-1">سبد خرید</p>
                        <i class="fa-solid fa-basket-shopping my-0 mx-1"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active mx-2 my-1 py-1 login_btn">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100 px-3 py-2" href="#">
                        <p class="my-0 mx-1">ورود یا ثبت نام</p>
                        <i class="fa-solid fa-arrow-right-to-bracket mx-1"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                </ul>
                <form class="form-inline search_bar py-1 mx-2 my-1">
                    <div dir="rtl" class="input-group mt-1">
                        <input type="text" class="form-control border-0 search_bar_input bg-transparent" placeholder="جستوجو..." aria-label="جستوجو..." aria-describedby="button-addon2">
                        <div class="input-group-append ">
                            <button class="btn border-0" type="button" id="button-addon2">
                                <i class="fa-solid fa-magnifying-glass search_bar_icon"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="true">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title d-none d-sm-block" id="offcanvas">منو</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100  py-2" href="#">
                        <i class="fa-solid fa-house fa-lg text-dark"></i>
                        <p class="my-0 mx-1 pt-1 text-dark">صفحه اصلی</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100  py-2" href="#">
                        <i class="fa-solid fa-border-all fa-lg text-dark"></i>
                        <p class="my-0 mx-1 pt-1 text-dark">دسته‌بندی کالاها</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100  py-2" href="#">
                        <i class="fa-solid fa-scroll fa-lg text-dark"></i>
                        <p class="my-0 mx-1 pt-1 text-dark">مقاله‌ها</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center justify-content-center w-100  py-2" href="#">
                        <i class="fa-solid fa-phone-volume fa-lg text-dark"></i>
                        <p class="my-0 mx-1 pt-1 text-dark">ارتباط با ما</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% block content %} {% endblock %}
<footer dir="rtl" class="mt-5">
    <div class="navbar navbar-expand-lg d-flex justify-content-around">
        <div class="navbar-brand d-flex align-items-center">
            <i class="footer_icons fa-solid fa-truck-fast fa-3x"></i>
            <p class="h5 my-0 mx-2">
                تحویل اکسپرس به سراسر کشور
            </p>
        </div>
        <div class="navbar-brand d-flex align-items-center">
            <i class="footer_icons fa-solid fa-store fa-3x"></i>
            <p class="h5 my-0 mx-2">
                همه روزه از ساعت ۱۱ الی ۲۱
            </p>
        </div>
        <div class="navbar-brand d-flex align-items-center">
            <i class="footer_icons fa-solid fa-money-check-dollar fa-3x"></i>
            <p class="h5 my-0 mx-2">
                تضمین بهترین قیمت
            </p>
        </div>
    </div>
    <div class="footer_line container-lg"></div>
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 ms-5 mt-3">
                    <p class="mb-4 h6">
                        نشانی: تهران
                    </p>
                    <div class="mt-5">
                        <p class="h6 position-absolute">شماره تماس:</p>
                        <P dir="ltr" class="h5 ">۰۹۱۰۱۱۲۲۳۳۴</P>
                        <P dir="ltr" class="h5 ">۰۲۱-۱۱۲۲۳۳۴۴</P>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="mb-3 font-weight-bold text-right">دسترسی سریع</h5>
                    <p class="m-0"><a href="#" class="text-decoration-none text-dark">قهوه‌ساز</a></p>
                    <p class="m-0"><a href="#" class="text-decoration-none text-dark">دانه قهوه</a></p>
                    <p class="m-0"><a href="#" class="text-decoration-none text-dark">قهوه‌های برند</a></p>
                    <p class="m-0"><a href="#" class="text-decoration-none text-dark">قهوه‌های مخصوص کافه ۲۹</a></p>
                    <p class="m-0"><a href="#" class="text-decoration-none text-dark">شکلات</a></p>
                    <p class="m-0"><a href="#" class="text-decoration-none text-dark">تماس با ما</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 ms-5 mt-3 flex-column">
                    <a class="navbar-brand d-flex align-items-center" href="#">
                        <img src="{{ asset.url_for('logo.png') }}">
                        <p class="h5 my-0 mx-2">
                            فروشگاه قهوه بهنام کافه
                        </p>
                    </a>
                    <div>
                        <a class="social_icon d-inline-flex align-items-center justify-content-center btn btn-floating m-1" href="#" role="button">
                            <i class="fab fa-youtube fa-xl"></i>
                        </a>
                        <a class="social_icon d-inline-flex align-items-center justify-content-center btn btn-floating m-1" href="#" role="button">
                            <i class="fab fa-instagram fa-xl"></i>
                        </a>
                    </div>
                </div>
            </div>
      </section>
    </div>
  </footer>
<script src="{{ asset.url_for('layout.js') }}"></script>
{% block script %} {% endblock %}
</body>
</html>