<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Coffee Shop</title>
</head>
<body>
<div class="h-100 d-flex align-items-center justify-content-center">
    <form action="{{ url_for('admin.product_update', product_id=product_id) }}" enctype="multipart/form-data" method="post" class="shadow p-5 rounded-4 m-5">
    {% from "formhelpers/crud_form.html" import render_field %}
        {{ render_field(form.product_name) }}
        {{ render_field(form.product_category) }}
        {{ render_field(form.product_price) }}
        {{ render_field(form.product_quantity) }}
        {{ render_field(form.product_discount) }}
        {{ render_field(form.product_discount_date) }}
        {{ render_field(form.product_short_description) }}
        <div class="d-flex justify-content-end p-3">
            <button type="submit" class="btn bg-success p-2 shadow text-white">ذخیره تغییرات</button>
        </div>
    </form>
</div>

<script src="{{ asset.url_for('product_update.js') }}"></script>
</body>
</html>