{% extends "layout.html" %}
{% block title %}
Coffee Shop
{% endblock %}
{% block script %}
<script src="{{ asset.url_for('shipment.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="navbar navbar-expand-xl d-flex justify-content-center align-items-start mx-5 mt-5 pt-5">
        <div class="col-xl-8 mx-5">
            <div class="address_box rounded-5 mb-3 p-4">
                <h5>
                    آدرس تحویل سفارش
                </h5>
                <div class="navbar navbar-expand-lg d-flex justify-content-center align-items-center py-4">
                    <i class="fa-solid fa-map-location-dot fa-xl mx-2"></i>
                    <p class="m-0">
                        رشت میدان مصلی (توشیبا) بلوار امام خمینی سنگسازی روبروی رستوران خانواده کوچه آهکی روبروی رسالت هفت پلاک ۴۱۶ طبقه اول در سمت چپ
                    </p>
                    <a href="#" class="text-decoration-none mx-5" style="color: #886407">تغییر | ویرایش</a>
                </div>
            </div>
            <div class="delivery_box rounded-5 mb-3 pt-4">
                <div class="d-flex align-items-center mx-3">
                    <i class="fa-solid fa-truck-fast fa-xl"></i>
                    <p class="rounded-3 p-2 my-0 mx-2" style="background-color: #886407">
                        ۵ کالا
                    </p>
                </div>
                <div class="d-flex py-4">
                    <div class="col-lg-2 mx-2 my-2 p-2 position-relative">
                        <img src="{{ asset.url_for('product.png') }}" alt="" style="width: 100%">
                        <p class="position-absolute top-0 start-0 px-2 rounded-circle" style="background-color: #E8C79C">1</p>
                    </div>
                    <div class="col-lg-2 mx-2 my-2 p-2 position-relative">
                        <img src="{{ asset.url_for('product.png') }}" alt="" style="width: 100%">
                        <p class="position-absolute top-0 start-0 px-2 rounded-circle" style="background-color: #E8C79C">1</p>
                    </div>
                    <div class="col-lg-2 mx-2 my-2 p-2 position-relative">
                        <img src="{{ asset.url_for('product.png') }}" alt="" style="width: 100%">
                        <p class="position-absolute top-0 start-0 px-2 rounded-circle" style="background-color: #E8C79C">1</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-box col-xl-3 align-self-start rounded-4 px-3">
            <div class="d-flex justify-content-between align-items-center mt-3 pb-5">
                <h5>
                    سبد خرید شما از بهنام کافه
                </h5>
                <i class="fa-solid fa-cart-arrow-down fa-5x" style="color: #BC9020;"></i>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <h5>
                    جمع مبلغ کالاها
                </h5>
                <h5>
                    ۲۵۳٬۰۰۰ تومان
                </h5>
            </div>
            <div class="d-flex justify-content-between align-items-center text-danger my-3">
                <h5>
                    سود شما از این سبد
                </h5>
                <h5>
                    ۵۳٬۰۰۰ تومان
                </h5>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <h5>
                    جمع سبد خرید
                </h5>
                <h5>
                    ۲۰۰٬۰۰۰ تومان
                </h5>
            </div>
            <p>هزینه ارسال مرسوله‌ها برعهده مشتری است و هنگام دریافت محصول باید پرداخت شود.</p>
            <a class="payment_link d-flex justify-content-center text-decoration-none m-3 rounded-3 py-4">
                <p class="h5 m-0 text-black">
                    ورود به درگاه پرداخت و ثبت نهایی خرید
                </p>
            </a>
        </div>
    </div>
{% endblock %}